<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="60337Walley.SudokuSolver" Version="0.0.1.4" Publisher="CN=E8DE1BA2-D4F3-4E77-9236-C71CC313E271" />
  <Properties>
    <DisplayName>SudokuSolver</DisplayName>
    <PublisherDisplayName>Walley</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="SudokuSolver" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Sudoku Solver, which can help u solve sudoku" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Sudoku Solver" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>